.Navbar {
  padding: 10px 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}

a {
  color: aliceblue;
  text-decoration: none;
  cursor: pointer;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  list-style-type: none;
  margin-left: auto;
  flex: 1 1;
  max-width: 650px;
  grid-gap: 50px;
  gap: 50px;
}

.signUp-btn {
  padding: 1rem;
  border-radius: 6px;
  text-decoration: none;
  color: aliceblue;
  background-color: rgb(9, 209, 142);
  border: none;
}
